**.env
**.env.**
!**.env.template
!**.env.**.template
minio/
db/
queue-data/
vector-db/
localstack/data/
.venv
qdrant_storage/

*.ipynb
chatbot-index/evaluation*
Makefile
chatbot-api/evaluation*
chatbot-index/worker/scripts*
