# AWS Cognito Configuration (LocalStack)

export AWS_REGION=us-east-1
export AWS_ENDPOINT_URL=http://localstack:4566
export AWS_ACCESS_KEY_ID=test
export AWS_SECRET_ACCESS_KEY=test
export AWS_COGNITO_USERPOOL_ID=local-userpool-id
export ENVIRONMENT=test


# JWT Configuration
export JWT_SECRET_KEY=dev-secret-key-not-for-production
export JWT_ALGORITHM=HS256
export JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30

export AUTH_PROVIDER=local
